@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-link-height: 2.5rem;
    --header-height-inner: 3.125rem;
    --header-height-padding: 0.625rem;
    --header-height: calc(
      var(--header-height-inner) + var(--header-height-padding) * 2
    );
    --border-radius-large: 30px;

    /* COLORS */
    --color-black: #000000;
    --color-white: #ffffff;
    --color-red: #9e040c;
    --color-lightRed: #b41924;
    --color-lightPink: #fce4e5;
    --color-orange: #ff9500;
    --color-pink: #ff9ea3;
    --color-yellow: #fffbdc;
    --color-lightGreen: #e1efe3;
    --color-green: #235c1b;
    --color-gray: #e3e3e3;
    --color-brown: #9b5b37;
    --color-beige: #fff5e9;
    --color-header-button: rgb(227, 227, 227, 0.2);
    --color-header-button-hover: rgba(227, 227, 227, 0.5);

    /* PADDING */
    --padding-small: 1.25rem;
    --padding-medium: 4rem;
  }

  @media (min-width: 768px) {
    :root {
      --header-link-height: 3rem;
      --header-height-inner: 3.75rem;
      --header-height-padding: 1.25rem;

      --padding-small: 4rem;
    }
  }

  @media (min-width: 1024px) {
    :root {
      --border-radius-large: 50px;
    }
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* SWIPER STYLE */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}
